/* Design system */

@font-face {
    font-family: "Fraunces";
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Manrope";
    src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

:root {
    --color-dark-purple: #24053E;
    --color-eucalyptus: #44FFA1;
    --color-davys-grey: #584D62;
    --color-ghost-white: #FCF8FF;
    --color-white: #FFF;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Manrope", sans-serif;
    color: var(--color-dark-purple);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

h1, h2, h3 {
    font-family: "Fraunces", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 8rem;
    line-height: 8rem;
}

h2 {
    font-size: 5.6rem;
    line-height: 6.4rem;
}

h3 {
    font-size: 3.2rem;
    line-height: 4rem;
}

button {
    cursor: pointer;
    font-weight: 700;
}

.button-primary {
    color: var(--color-dark-purple);
    background-color: var(--color-eucalyptus);
    padding: 1.8rem 3rem;
    border: 0.2rem solid var(--color-eucalyptus);
}

.button-primary:hover {
    color: var(--color-eucalyptus);
    background-color: transparent;
}

.button-secondary {
    color: var(--color-white);
    background-color: transparent;
    border: none;
    border-bottom: 0.3rem solid var(--color-eucalyptus);
    padding: 0.5rem 0;
}

.button-secondary:hover {
    color: var(--color-eucalyptus);
}

@media (max-width: 1440px) {
    h1 {
        font-size: 6rem;
        line-height: 6rem;
    } 
}

@media(max-width: 768px) {
    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
}

/* Misc */

.container {
    padding: 0 16.5rem; 
    max-width: 111.4rem;
    margin: 0 auto;
}

.underline {
    text-decoration: underline; 
    text-decoration-color: var(--color-eucalyptus);    
    text-underline-offset: 1.2rem;
    text-decoration-thickness: 0.3rem; 
}

@media (max-width: 1440px) {
    .container {
        padding: 0 3.9rem;
    } 

    .underline {
        text-underline-offset: 0.8rem;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }

    .underline {
        text-underline-offset: 0.6rem;
    }
}

/* Hero */

.hero-section {
    height: 73rem;
    padding-top: 5.7rem; 
    background-color: var(--color-dark-purple);
    position: relative;
}

.hero-section__left_pattern {
    position: absolute;
    left: -14rem;
    top: 11.6rem;
}

.hero-section__right_pattern {
    position: absolute;
    right: -5rem;
    top: 31.4rem;
}

.hero-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section__hero {
    width: 63.5rem;    
    text-align: center;
    margin: 0 auto;
    margin-top: 6.3rem;
}

.hero-section__hero > h1 {
    color: var(--color-white);
}

.hero-section__hero_image {
    position: absolute;
    left: 50%;
    top: 62%;
    transform: translateX(-50%);
    width: 76.7rem;
    height: 44.1rem;
}

@media (max-width: 1440px) {
    .hero-section {
        height: 54rem;
        padding-top: 3.2rem;
    }

    .hero-section__hero {
        width: 50.3rem;
        margin-top: 5.6rem;
    } 

    .hero-section__left_pattern {
        left: -22.5rem;
    }

    .hero-section__right_pattern {
        right: -9rem;
    }

    .hero-section__hero_image {
        width: 51.4rem;
        height: 29.6rem;
        top: 39.2rem;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 48.1rem;
    }

    .hero-section__hero {
        width: 45rem;
        margin-top: 6.4rem;
    }

    .hero-section__hero_image {
        width: 32rem;
        height: 18.4rem;
    }

    .hero-section__left_pattern, .hero-section__right_pattern {
        display: none;
    }
}

/* Features */

.features-section {
    height: 73rem; 
    background-color: var(--color-ghost-white);
}

.features-section__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.6rem;
    padding-top: 25.5rem;
}

.features-section__features .feature {
   text-align: center; 
   display: flex;
   flex-direction: column;
   align-items: center;
}

.feature__number {
    font-weight: 600;
    font-size: 2.4rem;
    border: 1px solid var(--color-davys-grey);
    width: 5.6rem;
    line-height: 5.6rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

/* Footer */

.footer-section {
    background-color: var(--color-white);
}

.footer-section__founder {
    margin-top: 11rem;
    position: relative;
    height: 64.8rem;
}

.founder__image {
    width: 47.7rem;
}

.founder__intro {
    padding: 6.4rem;
    background-color: var(--color-dark-purple);
    position: absolute;
    left: 35%;
    bottom: 5rem;
}

.founder__intro > h2, .founder__intro > p {
    color: var(--color-white);
}

.founder__intro > h2 {
    margin: 0;
}

.founder__intro > p {
    padding-bottom: 1rem;
}

.founder__pattern {
    position: absolute; 
    bottom: 0;
    right: 8rem;
}

.footer-section__footer {
    padding-top: 6rem;
    padding-bottom: 11rem;
    display: flex;
    flex-direction: column;
    row-gap: 5.8rem;
    align-items: center;
}

.footer-section__footer > img {
    width: 9.6rem;
    height: 2.46rem;
}

.footer__social-icons {
    display: flex;
    column-gap: 2.8rem; 
}
